* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-main {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    
    /* background: rgb(20,18,55);
    background: linear-gradient(90deg, rgba(20,18,55,1) 0%, rgba(24,24,48,1) 51%, rgba(21,68,78,1) 100%); */

    background-image: url('../../img/img1.jpg');
}

.container-main nav {
    background-color: rgba(0, 0, 0, 0.67);
    width: 25%;

    border-radius: 30px;
}

.container-main h1 {
    font-size: 2rem;
    color: #fff;
}

.container-main ul {
    list-style: none;
    text-decoration: none;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.container-main ul li {
    padding: 0.8rem;

    width: 70%;
}

.container-main ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;

    background-color: rgba(0, 0, 0, 0.927);
    border-radius: 50px;
    
    padding: 0.5rem;

    display: flex;
    justify-content: center;
}
